#shark{
    left: 100px;
    top: 400px;
    position:absolute;
    animation-name: Shark;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
#diver1{
    left: 40px;
    top: 100px;
    position:absolute;
    animation-name: diver1;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
#diver2{
    left: 250px;
    top: 300px;
    position:absolute;
    animation-name: diver2;
    animation-duration: 13s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
#diver3{
    left: 550px;
    top: 180px;
    position:absolute;
    animation-name: diver3;
    animation-duration: 16s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
#turtle{
    left: 500px;
    top: 500px;
    position:absolute;
    animation-name: turtle;
    animation-duration: 29s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
#goldfish{
    left: 900px;
    top: 300px;
    position:absolute;
    animation-name: goldfish;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
#faint{
    left: 10px;
    top: 300px;
    position:absolute;
    animation-name: faint;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
@keyframes Shark{
    0% {left:100px; top:400px}
    20% {left:300px; top:400px}
    40% {left:500px; top: 300px}
    50% {left: 600px; top:50px}
    60% {left: 600px; top: 100px}
    80% { left:500px; top:200px}
    100% {left: 100px; top:400px; transform:scaleX(-1)}
}
@keyframes diver1{
    0% {left:40px; top:100px}
    20% {left:70px; top:100px}
    40% {left:90px; top: 200px}
    50% {left: 50px; top:30px}
    60% {left: 400px; top: 100px}
    80% { left:100px; top:300px}
    100% {left: 40px; top:100px; transform:scaleX(-1)}
}
@keyframes diver2{
    0% {left:250px; top:300px}
    20% {left:300px; top:100px}
    40% {left:500px; top: 200px}
    50% {left: 400px; top:50px}
    60% {left: 100px; top: 100px}
    80% { left:300px; top:200px}
    100% {left: 250px; top:300px; transform:scaleX(-1)}
}
@keyframes diver3{
    0% {left:550px; top:180px}
    20% {left:200px; top:60px}
    40% {left:100px; top: 200px}
    50% {left: 300px; top:100px}
    60% {left: 90px; top: 160px}
    80% { left:300px; top:250px}
    100% {left: 550px; top:180px; transform:scaleX(-1)}
}
@keyframes turtle{
    0% {left:500px; top:500px}
    20% {left:700px; top:500px}
    40% {left:100px; top: 500px}
    50% {left: 100px; top:400px}
    60% {left: 100px; top: 300px}
    80% { left:200px; top:400px}
    100% {left: 500px; top:500px; transform:scaleX(-1)}
}
@keyframes goldfish{
    0% {left:900px; top:300px}
    20% {left:700px; top:300px}
    40% {left:600px; top: 500px}
    50% {left: 300px; top:500px}
    60% {left: 500px; top: 300px}
    80% {left:700px; top:400px}
    100% {left: 900px; top:300px; transform:scaleX(-1)}
}
@keyframes faint{
    0% {left:10px; top:300px}
    20% {left:90px; top:300px}
    40% {left:300px; top: 500px}
    50% {left: 600px; top:90px}
    60% {left: 400px; top: 200px}
    80% {left:90px; top:400px}
    100% {left: 10px; top:300px; transform:scaleX(-1)}
}
#ocean{
    width: 1000px;
    height: 600px;
}



