.hh-header {
    position: relative;
    height: 170px;
}
.hh-logo{
    position:absolute;
    right: 0px;
    width: 400px;
}
.hh-company{
    font-family: Impact;
    font-size: 35px;
    text-shadow: 0 0 2px black;
    position: absolute;
    top: 45px;
    padding-bottom: 2px;
    border-bottom: 1px dotted gray;
}
.hh-slogan{
    position: absolute;
    top: 100px;
}
.hh-sheet{
    box-shadow: 0 0 5px lightgray;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    top: -10px;
    margin-top: 20px;
    height: 1050px;
    display: block;
}
.hh-body{
    padding: 5px;
}
.hh-card1{
    position: absolute;
    width: 300px;
    left: 1000px;
    height: 200px;
    top:360px
}
.hh-card2{
    position: absolute;
    width: 300px;
    left: 1000px;
    height: 150px;
    top: 190px;

}
.hh-cart {
    position:absolute;
    width: 290px;
    left: 1000px;
    height: 150px;
    top: 20px;

}
.hh-product{
    text-align: center;
    padding: 5px 2px;
    display: inline-block;
}

.hh-product .card-body1 img {
    height: 150px;
    max-width: 200px;
    padding: 10px;
}

.hh-pic{
    width: 200px;
    position: relative;
    right: -1090px;
    top: 40px;
}
.card-title:hover{
    color: blueviolet;
    cursor: pointer;
}
.d-flex{
    padding: 0 40px;
}
.card-body img{
    height: 90px;
}
.nav-item{
    padding-left: 30px;
}
h4 a{
    text-decoration: none;
    color: black;
}
h4 a:hover{
    color: red
}
.iphone{
    position:absolute;
    top: 170px;
}
.info{ 
    position: absolute;
    left: 400px;
}
hr{
    margin-right: 800px;
}
.hh-card3{
    position: absolute;
    width: 280px;
    left: 1000px;
    height: 150px;
    top: 700px;

}
   
   
    
